{% extends 'main/base.html' %}

{% block description %}
    <p>
        This is not an official site.
        <br>
        <a href="https://www.plymouth.gov.uk/parkingandtravel/publictransport/taxis">
            <strong>Plymouth City Council</strong>
        </a>
        sets the fares that hackney carriages can charge. Different fares apply at different times.
        <br>
        The official table of fares can be found on
        <a href="https://www.plymouth.gov.uk/parkingandtravel/publictransport/taxis">
            <strong>Plymouth City Council</strong>
        </a>
        website.
    </p>
{% endblock %}

{% block main %}
    <p class="text-right">
        <a href="{% url 'index'%}" class="btn btn-success" role="button" aria-disabled="true">
            Main Page
        </a>
    </p>
    <br>

    <div class="container">
        <ul style="list-style: none;">

            {% for obj in object_list %}
                <li style="font-size: 2em">
                    <strong>{{ obj }}</strong><br>
                </li>

                <div class="text-muted">
                    {% for line in obj.get_description %}
                        {{ line }}
                        <br>
                    {% endfor %}
                </div>
                <ul>
                    <li>
                        <div class="row">
                            <div class="col-sm-6">
                                {{ obj.start_label }}
                            </div>
                            <div class="col-sm-3">
                                <strong>{{ obj.start }}</strong>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="row">
                            <div class="col-sm-6">
                                {{ obj.first_label }}
                            </div>
                            <div class="col-sm-3">
                                <strong>{{ obj.first }}</strong>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="row">
                            <div class="col-sm-6">
                                {{ obj.second_label }}
                            </div>
                            <div class="col-sm-3">
                                <strong>{{ obj.second }}</strong>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="row">
                            <div class="col-sm-6">
                                {{ obj.waiting_label }}
                            </div>
                            <div class="col-sm-3">
                                <strong>{{ obj.waiting }}</strong>
                            </div>
                        </div>
                    </li>
                </ul>
                <br>
            {% endfor %}

            <br>
            <li style="font-size: 2em">
                <strong>Extra charges</strong><br>
            </li>
            <p class="text-muted">
                One-off charges per journey
            </p>
            <ul>
                <li>
                    <div class="row">
                        <div class="col-sm-9">
                            Each additional passenger after the second
                            (accompanied children under the age of 3 are not charged,
                            two children between 3 & 12 to be charged as one)
                        </div>
                        <div class="col-sm-3">
                            <strong>20p</strong>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="row">
                        <div class="col-sm-9">
                            Entrance to MOD establishments, booking fee,
                            or from Plymouth Railway Station (subject to permit)
                        </div>
                        <div class="col-sm-3">
                            <strong>40p</strong>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="row">
                        <div class="col-sm-9">
                            For each uncaged animal (except working service dogs)
                        </div>
                        <div class="col-sm-3">
                            <strong>30p</strong>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="row">
                        <div class="col-sm-9">
                            Fuel- to be added to each hiring if and when fuel oil is at £1.40
                            at Exeter Street Service Station with a further 10p for each subsequent increase
                            of 10p per litre
                        </div>
                        <div class="col-sm-3">
                            <strong>10p</strong>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="row">
                        <div class="col-sm-9">
                            For any soiling of the vehicle, inside or out
                        </div>
                        <div class="col-sm-3">
                            <strong>£50</strong>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="row">
                        <div class="col-sm-9">
                            Toll charges at current rate for return journey
                        </div>
                    </div>
                </li>
            </ul>
            <br>
            <div class="row">
                <div class="col-sm-10 text-justify">
                    <li>
                        <strong>Out of city and extended period hirings: </strong>
                        The fare for any hiring with a destination outside the licensing area can be negotiated
                        with the driver <strong>before the commencement of the journey</strong> or run on the meter.
                        Hirings may be undertaken without the use of the meter where there is a prior contract
                        with a public auhtority or for a period in excess of one hour.
                    </li>
                </div>
            </div>
        </ul>
    </div>

    <br>
     <p class="text-right">
        <a href="{% url 'index'%}" class="btn btn-success" role="button" aria-disabled="true">
            Main Page
        </a>
    </p>
{% endblock %}